.navbar-brand,
.footer-link {
  font-family: fantasy;
  color: rgb(180, 243, 174);
}

.bg-white {
  background-color: rgb(173, 173, 173) !important;
}

.nav-link {
  font-family: cursive;
  color: rgb(180, 243, 174);
}

.navbar,
.footer {
  background: radial-gradient(
    circle,
    rgb(31, 193, 199) 50%,
    rgb(216, 167, 177) 100%
  );
}
