.navbar-brand,
.footer-link {
  font-family: fantasy;
  color: rgb(180, 243, 174);
}

.bg-white {
  background-color: rgb(173, 173, 173) !important;
}

.nav-link {
  font-family: cursive;
  color: rgb(180, 243, 174);
}

.navbar,
.footer {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 50%,
    rgba(252, 70, 107, 1) 100%
  );
}
